$primary: #EF2779;
$secondary-p: #7834BE;
$secondary-b: #38A3F1;
$text: #252B42;
$second-text: #374754;
$white: #fff;
$gradient: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);

@mixin button-text-p {
    font-weight: 500;
    font-size: 16px;
    color: $primary;
}

@mixin button-text-wp {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

@mixin button-text-b {
    font-weight: 700;
    font-size: 22px;
    color: $secondary-b;
}

@mixin button-text-w {
    font-weight: 700;
    font-size: 22px;
    color: $white;
    background-color: $secondary-b;
}

@mixin title-h2 {
    text-align: center;
    margin-bottom: 27px;
    font-weight: 400;
    line-height: 57px;
    font-size: 46px;
    color: $text;
}

@mixin subtitle {
    text-align: center;
    font-weight: 700;
    line-height: 33px;
    font-size: 22px;
    color: $text;
}

@mixin text {
    text-align: center;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    color: $text;
}
