@import "null";
@import "var";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import "block/page";
@import "block/wrapper";
@import "block/container";
@import "block/header";
@import "block/nav";
@import "block/form";
@import "block/intro";
@import "block/btn";
@import "block/features";
@import "block/title";
@import "block/item";
@import "block/proto";
@import "block/gradient";
@import "block/test";
@import "block/partners";
@import "block/card";
@import "block/price";
@import "block/board";
@import "block/contact";
@import "block/contact-info";
@import "block/footer";
