.contact {
    padding-top: 95px;
    padding-bottom: 85px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $text;

    @media (max-width: 425px) {
        padding-top: 160px;
        padding-bottom: 150px;
    }

    &__header {
        padding-bottom: 60px;
        @media (max-width: 425px) {
            padding: 0;
        }
    }

    &__title {
        color: $white;
    }

    &__text {
        color: $white;
    }

    &__body {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    &__col {
        display: flex;
        @media (max-width: 425px) {
            flex-direction: column;
        }
    }

    &__left {
        width: 55%;
        @media (max-width: 425px) {
            width: 100%;
            order: 2;
            display: flex;
            justify-content: center;
        }
    }

    &__form {
        margin-right: 65px;
        @media (max-width: 425px) {
            margin: 0;
            width: 100%;
        }
    }

    &__right {
        padding: 90px 0;
        width: 45%;
        @media (max-width: 425px) {
            width: 100%;
            order: 1;
            display: flex;
            text-align: center;
            justify-content: center;
            padding: 75px 0;
        }
    }

    &__info {
        margin-bottom: 75px;
        
        @media (max-width: 425px) {
            margin: 0;
        }
    }
}