.header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
    &__logo {
        img {
            margin-bottom: 5px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }
}