.intro {
    display: flex;
    padding-top: 192px;
    padding-bottom: 130px;

    @media (max-width: 425px) {
        flex-direction: column;
        padding-top: 130px;
        padding-bottom: 70px;
    }

    &__left {
        width: 54%;
        box-shadow: 0 10px 20px rgba(0,0,0, .16), 0 10px 131px rgba(0,0,0, .23);

        img {
            display: block;
            height: auto;
            width: 100%;
            object-fit: cover;

            @media (max-width: 425px) {
                padding: 0 20px;
            }
        }

        @media (max-width: 425px) {
            width: 100%;
            order: 2;
        }
    }
    &__right {
        padding-left: 80px;
        padding-top: 74px;
        width: 46%;

        @media (max-width: 425px) {
            padding: 0;
            width: 100%;
            order: 1;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 55px;
        line-height: 65.5px;
        color: $white;
        letter-spacing: 0.2px;
        margin-bottom: 27px;

        @media (max-width: 425px) {
            width: 100%;
            text-align: center;
            font-size: 46px;
            line-height: 57px;
            font-weight: 400;
        }
    }

    &__text {
        font-size: 16px;
        color: $white;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.2px;

        margin-bottom: 70px;
        @media (max-width: 425px) {
            text-align: center;
        }
    }

    &__btn {
        display: none;

        &-w {
            @media (max-width: 425px) {
                display: none;
            }
        }

        @media (max-width: 425px) {
            display: block;
            order: 3;
            width: 100%;
            max-width: 236px;
            margin: 0 auto;
            margin-top: 60px;
        }
    }
}