.nav {

    @media (max-width: 425px) {
        display: none;
    }
    &__link {
        padding: 10px;
        margin: 0 10px;
        color: $white;
        font-size: 15px;

    }

    &__form {
        padding-left: 24px;
    }
}