.price {

    &__header {
        margin-bottom: 90px;
    }

    &__body {
        max-width: 1100px;
        padding: 0 30px;
        width: 100%;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        margin-bottom: 100px;
        @media (max-width: 425px) {
            display: block;
            margin-bottom: 120px;
        }
    }

    &__board {
        margin: 0 25px;
        @media (max-width: 425px) {
            margin: 0 auto 50px;
        }
    }
}