.proto {
    margin-top: 200px;

    &__header {
        margin-bottom: 90px;
        @media (max-width: 425px) {
            margin-bottom: 70px;
        }
    }

    &__body {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 100px;
        @media (max-width: 425px) {
            margin-bottom: 60px;
        }
    }

    &__footer {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        margin-bottom: 133px;
        @media (max-width: 425px) {
            margin-bottom: 86px;
        }
    }

    &__macbook {
        display: block;
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}