.test {

    &__title {
        margin-bottom: 90px;
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__text {
        margin: 60px 0;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $second-text;
        @media (max-width: 425px) {
            display: block;
            padding: 0 30px;
        }
    }

    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    &__info {
        margin-left: 13px;
    }

    &__name {
        margin-bottom: 10px;

        font-size: 12px;
        font-weight: 700;
        color: $second-text;
    }

    &__job {
        color: $text;
        font-size: 15px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-bottom: 210px;
    }
}